html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, li, a {
    text-decoration: none;
    list-style: none;
    float: left;
    padding: 2px;
    margin: 2px;
    font-size: 16px;
    color: aliceblue;
    
}

li {
    border: 1px solid black;
    border-radius: 8px;
}

/* quitarle atributos a los links */
#noatributes {
    color: black;
    float: none;
    font-weight: bolder;
}

.container {
    width: 90%;
    height: 100vh;
}

#navbar {
  height: 30%;
  margin: 0 auto;
}

.imagen {
    width: 90%;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    margin: auto;
}

.links {
    position: absolute;
    top: -30px;
    right: 0;
    width: 30%;
}

#home {
    background-color: blue;
    transform: scale(1);
}

#home:hover {
    background-color: green;
    transform: scale(0.8);
    transition: all 1s;
}

#about {
 background-color: blue;
 transform: scale(1);
}

#about:hover {
    background-color: green;
    transform: scale(0.8);
    transition: all 1s;
}

#contact {
    background-color: blue;
    transform: scale(1);
}

#contact:hover {
    background-color: green;
    transform: scale(0.8);
    transition: all 1s;
}

/* main ----------------------- */

#main {
   
}

.upcomingevents {
    height: 100%;
    width: 90%;
}

.title-container {
    width: 100%;
}

#h1 {
    text-align: center;
}

.logo-container {
    width: 31%;
    float: left;
    height: 90%;
}

#logo {
    height: 50%;
    width: 30%;
    object-fit: contain;
    margin-left: 100px;
}

.text-container {
    width: 60%;
    float: left;
    height: 100%;
}


/* imagen nueva */
.nuevaimagen-container {
    display: block;
    width: 40%;
    height: 100%;
    float: right;
    top: -245px;
    position: relative;
    
}








/*
ul, a {
    list-style: none;
    text-decoration: none;
}

ul {
    display: flex;
    justify-content: space-evenly;
    height: 40%;
    width: 30%;
    background: black;
    padding: 10px;
}

.container {
display: flex;
flex-direction: column;
background-color: blue;
height: 100vh;
align-items: center;
}


#navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: red;
  width: 90%;
  height: 50%;
  
}

.imagen {
    position: relative;
    width: 90%;
    height: 80%;
    display: flex;
    background: aliceblue;
    justify-content: center;
}

img {
 height: 100%;
 width: 90%;       
}

.links {
    position: absolute;
    width: 90%;
    top: -30px;
    display: flex;
    justify-content: flex-end;
}
*/


